@media all and (min-width: 1500px) {
	
	body {
		width: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		margin: 0;
		padding: 0;
	}

/*  Sections accueil et pages  */  
	.restaurants, .intro, .menupage {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}

/*  Section accueil  */
.actions-list {
    width: 730px;
}
.menu {
	width: 800px;
}

/* Sections pages  */
.intro, .menupage {
    width: 834px;
}
.container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/*  Section boutons */
.button_menu {
    width: 95%;
}
.title_menu {
	  width: 95%;
}
}

@media all and (max-width: 400px) {

/*  Section menupage  */
.title_sup {
    font-size: 14px;
}
.menupage {
    margin: 0px 10px 30px 10px;
}
}

@video-width: 780px;

iframe {  
  width: 100%; 
  max-width: @video-width;
  height: 42.25vw;    
}

@media (min-width:@video-width) {
  iframe {
    height: calc(@video-width * 0.5628205128205128);
  }
}