@media all and (min-width: 1500px) {
	
	body {
		width: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		margin: 0;
		padding: 0;
	}

/*  Sections accueil et pages  */  
	.restaurants, .intro, .menupage {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}

/*  Section accueil  */
.actions-list {
    width: 730px;
}
.menu {
	width: 800px;
}

/* Sections pages  */
.intro, .menupage {
    width: 834px;
}
.container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/*  Section boutons */
.button_menu {
    width: 95%;
}
.title_menu {
	  width: 95%;
}
}

@media screen and (max-width: 1280px) {
	.photopage, .photo {
	height: 280px;
}
@media all and (max-width: 1024px) {
	.photopage, .photo {
	height: 250px;
}
@media screen and (max-width: 980px) {
	.photopage, .photo {
	height: 230px;
}
@media all and (max-width: 780px) {
	.photopage, .photo {
	height: 210px;
}

@media all and (max-width: 480px) {

/*  Section menupage  */
.photopage, .photo {
	height: 150px;
}

.title_sup {
    font-size: 14px;
}
.menupage {
    margin: 0px 10px 30px 10px;
}
}

@video-width: 780px;

iframe {  
  width: 100%; 
  max-width: @video-width;
  height: 42.25vw;    
}

@media (min-width:@video-width) {
  iframe {
    height: calc(@video-width * 0.3628205128205128);
  }
}