@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";)
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");

/* CSS général */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, 
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, caption, tbody,
tfoot, thead, tr, 
canvas, embed, footer, header, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

/* Basic */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body, input, select {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	color: #5d5d5d;
	font-size: 14pt;
	line-height: 1.75em;
}
strong, b {
	color: #252122;
	font-weight: 400;
}
h1, h2, h3, h5, h6 {
	color: #252122;
	font-weight: 700;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}
h2 {
	font-size: 1.5em;
}
h3 {
font-size: 1.35em;
}
h4 { font-family: 'Roboto', sans-serif; font-size: 30px;}
p, ul, ol, dl, table {
		margin-bottom: 2em;
}

/* Section header */
.header {
	text-align: center;
	padding: 2em 0;
}
#header {
	position: relative;
	background: #E5E5E5;
	border-bottom: solid 1px #ccc;
	padding: 5em 0 4em 0;
	text-align: center;
}
.p2{
	color: #ffffff;
	 background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
	 background: -o-linear-gradient(bottom right, #9356DC, #FF79DA);
	 background: linear-gradient(to top left, #9356DC, #FF79DA);
	 -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
         box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	width: 200px;
	height: 50px;
	margin: 20px auto;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.p2:hover {
  	opacity: 0.5;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

/*  Section localisation  */
.local{
  background-color: #eaeaea;
  padding: 1rem 1.25rem;
  text-align: center;
  margin-bottom: auto;
}

/* Section fonctionnement */
#function {
	background-color: white;
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	padding: 8em 0;
	margin: 4em 0 0 0;
}
#function header {
	background-color: white;
	display: inline-block;
	padding: 2.5em 5em;
	border-radius: 5px;
}

/* Section restaurants */
header.major h2 {
	background: #fff;
	position: relative;
	top: -0.65em;
	display: inline;
	margin: 0;
	padding: 0 1em 0 1em;
}

/* Section restaurants - Ligne */
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
	}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp {
	order: -1;
}
.row > .col-2 {
	width: 16.66667%;
}
.row > .off-2 {
	margin-left: 16.66667%;
}
.row > .col-4 {
	width: 24.33333%;
}
.row > .off-4 {
	margin-left: 24.33333%;
}
.row > .col-6 {
	width: 50%;
}
.row > .off-6 {
	margin-left: 50%;
}
.row > .col-8 {
	width: 66.66667%;
}
.row > .off-8 {
	margin-left: 66.66667%;
}
.row > .col-12 {
	width: 100%;
}
.row > .off-12 {
	margin-left: 100%;
}
@media screen and (max-width: 1680px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-xlarge {
	order: -1;
}
.row > .col-4-xlarge {
	width: 24.33333%;
}
.row > .off-4-xlarge {
	margin-left: 24.33333%;
}
.row > .col-6-xlarge {
	width: 50%;
}
.row > .off-6-xlarge {
	margin-left: 50%;
}
.row > .col-8-xlarge {
	width: 66.66667%;
}
.row > .off-8-xlarge {
	margin-left: 66.66667%;
}
.row > .col-12-xlarge {
	width: 100%;
}
.row > .off-12-xlarge {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0px;
	margin-left: 0px;
}
.row.gtr-0 > * {
	padding: 0px 0 0 0px;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0px;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}
.row.gtr-25 {
	margin-top: -12.5px;
	margin-left: -12.5px;
}
.row.gtr-25 > * {
	padding: 12.5px 0 0 12.5px;
}
.row.gtr-25.gtr-uniform {
	margin-top: -12.5px;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 12.5px;
}
.row.gtr-50 {
	margin-top: -25px;
	margin-left: -25px;
}
.row.gtr-50 > * {
	padding: 25px 0 0 25px;
}
.row.gtr-50.gtr-uniform {
	margin-top: -25px;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 25px;
}
.row {
	margin-top: -50px;
	margin-left: -50px;
}
.row > * {
	padding: 50px 0 0 50px;
}
.row.gtr-uniform {
	margin-top: -50px;
}
.row.gtr-uniform > * {
	padding-top: 50px;
}
.row.gtr-150 {
	margin-top: -75px;
	margin-left: -75px;
}
.row.gtr-150 > * {
	padding: 75px 0 0 75px;
}
.row.gtr-150.gtr-uniform {
	margin-top: -75px;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 75px;
}
.row.gtr-200 {
	margin-top: -100px;
	margin-left: -100px;
}
.row.gtr-200 > * {
	padding: 100px 0 0 100px;
}
.row.gtr-200.gtr-uniform {
	margin-top: -100px;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 100px;
}
}
@media screen and (max-width: 1280px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-large {
	order: -1;
}
.row > .col-4-large {
	width: 24.33333%;
}
.row > .off-4-large {
	margin-left: 24.33333%;
}
.row > .col-6-large {
	width: 50%;
}
.row > .off-6-large {
	margin-left: 50%;
}
.row > .col-8-large {
	width: 66.66667%;
}
.row > .off-8-large {
	margin-left: 66.66667%;
}
.row > .col-12-large {
	width: 100%;
}
.row > .off-12-large {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0px;
	margin-left: 0px;
}
.row.gtr-0 > * {
	padding: 0px 0 0 0px;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0px;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}
.row.gtr-25 {
	margin-top: -7.5px;
	margin-left: -7.5px;
}
.row.gtr-25 > * {
	padding: 7.5px 0 0 7.5px;
}
.row.gtr-25.gtr-uniform {
	margin-top: -7.5px;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 7.5px;
}
.row.gtr-50 {
	margin-top: -15px;
	margin-left: -15px;
}
.row.gtr-50 > * {
	padding: 15px 0 0 15px;
}
.row.gtr-50.gtr-uniform {
	margin-top: -15px;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 15px;
}
.row {
	margin-top: -30px;
	margin-left: -30px;
}
.row > * {
	padding: 30px 0 0 30px;
}
.row.gtr-uniform {
	margin-top: -30px;
}
.row.gtr-uniform > * {
	padding-top: 30px;
}
.row.gtr-150 {
	margin-top: -45px;
	margin-left: -45px;
}
.row.gtr-150 > * {
	padding: 45px 0 0 45px;
}
.row.gtr-150.gtr-uniform {
	margin-top: -45px;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 45px;
}
.row.gtr-200 {
	margin-top: -60px;
	margin-left: -60px;
}
.row.gtr-200 > * {
	padding: 60px 0 0 60px;
}
.row.gtr-200.gtr-uniform {
	margin-top: -60px;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 60px;
}
}
@media screen and (max-width: 980px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-medium {
	order: -1;
}
.row > .col-4-medium {
	width: 24.33333%;
}
.row > .off-4-medium {
	margin-left: 24.33333%;
}
.row > .col-6-medium {
	width: 50%;
}
.row > .off-6-medium {
	margin-left: 50%;
}
.row > .col-7-medium {
	width: 58.33333%;
}
.row > .col-8-medium {
	width: 66.66667%;
}
.row > .off-8-medium {
	margin-left: 66.66667%;
}
.row > .col-12-medium {
	width: 100%;
}
.row > .off-12-medium {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0px;
	margin-left: 0px;
}
.row.gtr-0 > * {
	padding: 0px 0 0 0px;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0px;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}
.row.gtr-25 {
	margin-top: -10px;
	margin-left: -10px;
}
.row.gtr-25 > * {
	padding: 10px 0 0 10px;
}
.row.gtr-25.gtr-uniform {
	margin-top: -10px;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 10px;
}
.row.gtr-50 {
	margin-top: -20px;
	margin-left: -20px;
}
.row.gtr-50 > * {
	padding: 20px 0 0 20px;
}
.row.gtr-50.gtr-uniform {
	margin-top: -20px;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 20px;
}
.row {
	margin-top: -40px;
	margin-left: -40px;
}
.row > * {
	padding: 40px 0 0 40px;
}
.row.gtr-uniform {
	margin-top: -40px;
}
.row.gtr-uniform > * {
	padding-top: 40px;
}
.row.gtr-150 {
	margin-top: -60px;
	margin-left: -60px;
}
.row.gtr-150 > * {
	padding: 60px 0 0 60px;
}
.row.gtr-150.gtr-uniform {
	margin-top: -60px;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 60px;
}
.row.gtr-200 {
	margin-top: -80px;
	margin-left: -80px;
}
.row.gtr-200 > * {
	padding: 80px 0 0 80px;
}
.row.gtr-200.gtr-uniform {
	margin-top: -80px;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 80px;
}
}
@media screen and (max-width: 736px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-small {
	order: -1;
}
.row > .col-4-small {
	width: 24.33333%;
}
.row > .off-4-small {
	margin-left: 24.33333%;
}
.row > .col-6-small {
	width: 50%;
}
.row > .off-6-small {
	margin-left: 50%;
}
.row > .col-8-small {
	width: 66.66667%;
}
.row > .off-8-small {
	margin-left: 66.66667%;
}
.row > .col-12-small {
	width: 100%;
}
.row > .off-12-small {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0px;
	margin-left: 0px;
}
.row.gtr-0 > * {
	padding: 0px 0 0 0px;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0px;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}
.row.gtr-25 {
	margin-top: -5px;
	margin-left: -5px;
}
.row.gtr-25 > * {
	padding: 5px 0 0 5px;
}
.row.gtr-25.gtr-uniform {
	margin-top: -5px;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 5px;
}
.row.gtr-50 {
	margin-top: -10px;
	margin-left: -10px;
}
.row.gtr-50 > * {
	padding: 10px 0 0 10px;
}
.row.gtr-50.gtr-uniform {
	margin-top: -10px;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 10px;
}
.row {
	margin-top: -20px;
	margin-left: -20px;
}
.row > * {
	padding: 20px 0 0 20px;
}
.row.gtr-uniform {
	margin-top: -20px;
}
.row.gtr-uniform > * {
	padding-top: 20px;
}
.row.gtr-150 {
	margin-top: -30px;
	margin-left: -30px;
}
.row.gtr-150 > * {
	padding: 30px 0 0 30px;
}
.row.gtr-150.gtr-uniform {
	margin-top: -30px;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 30px;
}
.row.gtr-200 {
	margin-top: -40px;
	margin-left: -40px;
}
.row.gtr-200 > * {
	padding: 40px 0 0 40px;
}
.row.gtr-200.gtr-uniform {
	margin-top: -40px;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 40px;
	}
}

/* Section restaurant - Container */
.container {
	margin: 0 auto;
	max-width: 100%;
	width: 70em;
}
@media screen and (max-width: 1680px) {
.container {
	width: 70em;
}
}
@media screen and (max-width: 1280px) {
.container {
	width: calc(100% - 60px);
}
}
@media screen and (max-width: 980px) {
.container {
	width: calc(100% - 80px);
}
}
@media screen and (max-width: 736px) {
.container {
	width: calc(100% - 40px);
}
}

/* Section footer */
footer {
  position: relative;
  padding: 30px;
  color: #ffffff;
  background-color: #2c2c2c;
}
footer .footer-link {
  padding-left: 0;
  list-style-type: none;
  line-height: 25px;
  cursor: default;
}
footer .footer-link .item .icon {
  margin-right: 20px;
}
footer .footer-link .item a {
  color: #ffffff;
  text-decoration: none;
}
.logo {
  width: 100px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
/*
}
.footer {
	position: relative;
	color: #858484;
	padding: 4em 0;
}
.footer a {
	color: #c5c4c4;
}
footer, header, section {
	display: block;
}*/
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* Box */
.box {
	background: #ffffff;
	border-bottom: solid 1px #ccc;
	padding: 2.75em 1.75em 2.75em 1.75em;
}
.box .image.featured {
	position: relative;
	width: auto;
	left: 1.75em;
	top: 1.75em;
	margin: -4.5em 0 4.25em -3.5em;
}
.box.post header {
	padding-top: 1em;
	margin: 0 0 2em 0;
}
.box.post header > p {
	margin-top: 1.25em;
	font-size: 1.25em;
}
.box footer ul.actions {
	margin-bottom: 0;
}

/* Button */
button,
.button {
	-webkit-appearance: none;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	background: #d52349;
	color: #fff !important;
	font-weight: 700;
	outline: 0;
	font-size: 1.1em;
	padding: 0.65em 1.5em 0.65em 1.5em;
	text-align: center;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
}
button:hover,
.button:hover {
	background: #e53359;
}
button:active,
.button:active {
	background: #c51349;
}
button.alt,
.button.alt {
	background: #99E2D0;
}
button.alt:hover,
.button.alt:hover {
	background: #353132;
}
button.alt:active,
.button.alt:active {
background: #151112;
}
button.icon:before,
.button.icon:before {
	opacity: 0.35;
	position: relative;
	top: 0.05em;
	margin-right: 0.75em;
}
button.large,
.button.large {
	font-size: 1.5em;
	padding: 0.75em 1.5em 0.75em 1.5em;
}

/* Image */
.image img {
	display: block;
	width: 100%;
	}

.image.centered img {
	margin: 0 auto;
	width: auto;
}
.image.featured {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

/* List */
ul {
	list-style: disc;
	padding-left: 1em;
}
ul li {
	padding-left: 0.5em;
}
ol {
list-style: decimal;
	padding-left: 1.25em;
}
ol li {
	padding-left: 0.25em;
}

/* restaurants Main */
#main {
	position: relative;
	background: #f7f7f7;
	padding: 4em 0 4em 0;
}
#main:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url("images/bg01.png");
	background-size: 100% 100%;
	z-index: 0;
	opacity: 0.1;
}
#main .major h2 {
	background: #f7f7f7 url("images/bg02.png");
}

/* XLarge */
@media screen and (max-width: 1680px) {
body, input, select {
	font-size: 12pt;
}
}

/* Large */
@media screen and (max-width: 1280px) {

/* Basic */
body, input, select {
	font-size: 11pt;
}

/* Section/Article */
header.major {
	margin: 0.75em 0 2.5em 0;
}
header.major h2 {
	padding: 0 1em 0 1em;
}

/* Header */
#header {
	padding: 4em 0 3em 0;
}

/* function */
#function {
	padding: 6em 0;
	margin: 3em 0 0 0;
}

/* Intro */
#intro {
	padding: 0;
}
#intro section {
	padding: 1em 2em;
}
#intro .middle:before {
	left: -12px;
}
#intro .middle:after {
	right: -12px;
}

/* Main */
#main {
	padding: 30px 0;
}

/* Footer */
#footer {
	padding: 3em 0;
}
#footer:before {
	height: 2.5em;
}
#footer header {
	margin: 0 0 1.5em 0;
}
#footer header h2 {
	font-size: 1.25em;
}

/* Medium */
@media screen and (max-width: 980px) {
/* Basic */
html, body {
	overflow-x: hidden;
}
/* Box */
.box footer ul.actions li {
	margin: 1em 0 0 0;
	display: block;
}
.box footer ul.actions li .button {
	width: 100%;
}
.box footer ul.actions li:first-child {
	margin-top: 0;
}
/* Header */
#header {
	padding: 3.5em 0 3em 0;
}
/* Main */
#main {
	padding: 40px 0;
}
